<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
            </a>
            <form role="search" class="navbar-form-custom" action="">
                <div class="form-group">
                    <input type="text" placeholder="" disabled class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">{{LexiqueGetString('welcome-to')}} {{appEnv.appName}}</span>
            </li>
            <li>
                <form action="{{path_for('logout')}}" method="POST">
                    {{ getCsrfInput() }}
                    <button class="btn btn-link" type="submit" style="padding-top:0;"><i class="fa fa-sign-out"></i>
                        {{LexiqueGetString('log-out')}}</button>
                </form>
            </li>
            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>